html, body {
    height: 100%;
    margin: 0;
}

/* ВАЖНО */
body.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Контент растягивается */
.content-wrapper {
    flex: 1;
}

/* Футер всегда внизу */
.footer {
    margin-top: auto;
}



@media screen and (max-width: 750px) {
    .navbar-nav.ms-auto{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
    }    
}


@media screen and (max-width: 420px) { 
    .navbar-nav.ms-auto{
        display: flex;
        flex-direction: row;
        gap: 5px;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
    }
}