{% extends 'base.html' %}
{% comment %} templates/accounts/privacy.html {% endcomment %}
{% load static %}

{% block title %}Privacy Policy{% endblock %}

{% block extra_css %}

{% endblock %}

{% block content %}
<p> Здесь будет текст политики конфиденциальности. Мы уважаем вашу приватность и обязуемся защищать ваши личные данные. Вся информация, которую вы предоставляете при регистрации и использовании нашего сайта, будет использоваться в соответствии с действующим законодательством о защите данных. Мы не будем продавать, обменивать или передавать ваши личные данные третьим лицам без вашего согласия, за исключением случаев, предусмотренных законом. Вы можете в любое время запросить доступ к своим данным, их исправление или удаление, связавшись с нашей службой поддержки.</p>

{% endblock %}