{% extends 'base.html' %}
{% comment %} templates/accounts/terms.html {% endcomment %}
{% load static %}

{% block title %}Terms of Service{% endblock %}

{% block extra_css %}

{% endblock %}

{% block content %}
<p> Добро пожаловать на DesignHub! Пожалуйста, внимательно прочитайте эти Условия использования перед тем, как начать использовать наш сайт. Используя DesignHub, вы соглашаетесь соблюдать эти Условия. Если вы не согласны с этими Условиями, пожалуйста, не используйте наш сайт.</p>

{% endblock %}