{% extends "base.html" %}
{% load static %}

{% block title %}Удаление выполненно{% endblock title %}
{% block extra_css %}

{% comment %} <link rel="stylesheet" href="{% static 'accounts/profile.css' %}"> {% endcomment %}
{% endblock %}

{% block content %} 
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h4 class="mb-0">Новый пароль принят</h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}